/* reset básico */

css {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    background: linear-gradient(135deg, #00adb5, #222831);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 10px;

}

p{
    font-size: 1.2rem;
    color: #ddd;
    margin-bottom: 30px;

}

/* link para as outras paginas que serão feitas */

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.links a {
        text-decoration: none;
        color: #222831;
        background-color: white;
        padding: 15px 30px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 1.1rem;
        transition: all 0.3s ease;
        
}

.links a:hover{
    background-color: #00adb5;
    color: white;
    transform: scale(1.05);

}

footer{
    position: absolute;
    bottom: 15px;
    font-size: 0.9rem;
    color: #ccc;    


}